*~
*/*~
*.o
*.pdf
.vscode/
.gdb_history
gmon.out
.gitignore
aclocal.m4
aclocal.*
autom4te.cache/
build-aux/
configure
config.guess
config.sub
config.log
config.status
Makefile
Makefile.in
src/.deps
src/cups
src/cups-notifier.*
src/run-tests.sh.log
src/run-tests.sh.trs
src/test-suite.log
data/org.openprinting.Backend.CUPS.service
tmp/
*/Makefile
