*.o
*.pdf
.vscode/
.gdb_history
gmon.out
.gitignore
aclocal.m4
aclocal.*
autom4te.cache/
build-aux/
configure
config.log
config.status
Makefile
Makefile.in
src/.deps
src/cups
data/org.openprinting.Backend.CUPS.service
tmp/
*/Makefile
